<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расчет налогов для ИП</title>
    <link type="image/x-icon" href="static/img/logo.ico" rel="icon">
    <link type="text/css" href="static/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="static/icons/font/bootstrap-icons.css" rel="stylesheet">
    <link type="text/css" href="static/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="#" alt="FinTech" width="40" height="40">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/calculate_ip">Расчет налогов для ИП</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calculate_employees">Расчет зарплаты и налогов для сотрудников</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calculate_ipn">Расчет ИПН</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calculate_cn">Расчет социального налога</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container my-4">
        <div class="row">
            <div class="col-md-7 col-sm-12 color-fill c2">
                <h1 class="mb-4">Расчет налогов для ИП</h1>
                <form id="ipForm">
                    <div class="mb-3">
                        <label class="form-label" for="income">Доход:</label>
                        <input class="form-control" type="text" id="income" name="income" required>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-glow" type="submit">Рассчитать</button>
                    </div>
                </form>
                <h4 class="mb-3">Результаты:</h4>
                <div class="mb-3" id="results"></div>
            </div>
            <div class="col-md-5 col-sm-12">
                <h3 class="text-center mb-4 c1">2024 год / МЗП = 85 000 тенге</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>Налоги и отчисления</th>
                                <th>Ставка</th>
                                <th>Предел дохода</th>
                                <th>Сумма</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ОПВ</td>
                                <td>10% от дохода</td>
                                <td>max от 50 МЗП (4,25 млн тенге)</td>
                                <td>max = 425 000 тенге</td>
                            </tr>
                            <tr>
                                <td>СО</td>
                                <td>3,5% от дохода</td>
                                <td>min от 1 МЗП (85 000 тенге) и max от 7 МЗП (595 000 тенге)</td>
                                <td>min = 2 975 тенге; max = 20 825 тенге</td>
                            </tr>
                            <tr>
                                <td>ВОСМС</td>
                                <td>2% от получаемого дохода</td>
                                <td>max от 10 МЗП (850 000 тенге)</td>
                                <td>max = 17 000 тенге</td>
                            </tr>
                            <tr>
                                <td>ООСМС</td>
                                <td>3% от получаемого дохода</td>
                                <td>max от 10 МЗП (850 000 тенге)</td>
                                <td>max = 25 500 тенге</td>
                            </tr>
                            <tr>
                                <td>ВОСМС за ИП</td>
                                <td>5%</td>
                                <td>Фиксированная сумма дохода 1,4 МЗП (119 000 тенге)</td>
                                <td>5 950 тенге</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <h5 class="color2">FinTech. © 2024</h5>
                    <div class="social-icons color3">
                        <a href="#"><i class="bi bi-twitter-x"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-tiktok"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li><a href="#">О проекте</a></li>
                        <li><a href="#">Публичная оферта</a></li>
                        <li><a href="#">Политика конфиденциальности</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Реклама</a></li>
                        <li><a href="#">Помощь</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p>Веб-сайт создан под лицензий LGPL 3. Потом еще придумаем что сюда написать ждите...</p>
            </div>
        </div>
    </footer>

    <script>
        document.getElementById('income').addEventListener('input', function (e) {
            let value = e.target.value.replace(/\D/g, '');
            if (!value) return;
    
            e.target.value = new Intl.NumberFormat('ru-RU').format(value);
        });
    
        document.getElementById('ipForm').onsubmit = async (e) => {
            e.preventDefault();
            const incomeField = document.getElementById('income');
            const income = parseFloat(incomeField.value.replace(/\s/g, ''));
    
            if (isNaN(income) || income <= 0) {
                alert("Введите корректное значение дохода.");
                return;
            }
            const response = await fetch('/calculate_ip', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ income: income })
            });
    
            if (!response.ok) {
                const error = await response.json();
                document.getElementById('results').innerHTML = `
                    <p class="text-danger">Ошибка: ${error.error}</p>
                `;
                return;
            }
    
            const result = await response.json();
            document.getElementById('results').innerHTML = `
                <p>ОПВ: ${result.opv} тенге</p>
                <p>ВОСМС: ${result.vosms} тенге</p>
                <p>СО: ${result.socialTax} тенге</p>
                <p>ОПВР: ${result.pensionTax} тенге</p>
            `;
        };
    </script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>